.wrapper {
  display: flex;

  .title {
    margin-top: 20px;
    margin-left: 20px;
  }

  .stats-wrapper {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;

    .card {
      display: flex;
      text-align: center;
      margin: 10px;
      max-width: 280px;
    }

    .card-title {
      padding: 5px 5px 0 5px;
    }

    .card-desc {
      display: flex;
      justify-content: center;
    }
  }
}



